.blog-div {
  width:95%;
  margin-left:auto;
  margin-right:auto;
}

.blog-list {
  display:table-row;
}

.blog-title {
  font-size: 22px;
  font-weight: bold;
}

.blog-entry p {
}

.post-excerpt {
  margin-left:1em;
}

.blog-entry {
  overflow: auto;
  display: inline-block;
  border-bottom: 8px ridge #c7c7c7;
  border-top: 8px ridge #c7c7c7;
  box-shadow: 0 12px 5px -8px black;
  margin: 10px 0;
}

.blog-entry a {
  text-decoration:none;
  display:block;
  padding: 10px;
}

.blog-entry a:hover {
  text-decoration:underline;
}
